---
nexus-url: https://nexus.example.com
nexus-username: admin
nexus-password: admin123
git-email: makingx+bot@gmail.com
git-name: CI Bot
github-private-key: |
  -----BEGIN RSA PRIVATE KEY-----
  ...
  -----END RSA PRIVATE KEY-----
github-access-token: abcdef
slack-webhook-url: https://hooks.slack.com/services/foo/bar
s3-access-key-id: aaaaa
s3-secret-access-key: bbbb